.custom-modal {
    .modal-content{ 
        background-color:  #2f2f2f;
        border:2px solid #858585;
    }

    .modal-btn {
        
    }

    .modal-desc {
        color: #dadada;
        text-align: justify;
        text-indent: 24px;
    }
}